body {
    background: #f0f0f0;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

header {
    background: #111;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 22px;
    font-family: 'Lobster', cursive;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card h2 {
    margin-top: 0;
}

input {
    width: 100%;
    padding: 10px;
    margin: 7px 0;
}

button {
    background: #1e88e5;
    color: white;
    padding: 10px 15px;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
}

button:hover {
    background: #0d47a1;
}
